<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAePU6zMRy_Q2gCOX_iIkQxHjFKbmmQuTk</string>
	<key>GCM_SENDER_ID</key>
	<string>1063852509526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracker</string>
	<key>PROJECT_ID</key>
	<string>school-tracker-f629e</string>
	<key>STORAGE_BUCKET</key>
	<string>school-tracker-f629e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063852509526:ios:8cffdaa98c5dc75e026ef7</string>
	<key>DATABASE_URL</key>
	<string>https://school-tracker-f629e-default-rtdb.firebaseio.com</string>
</dict>
</plist>